<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>webflux</title>
</head>
<body>

<table th:border="1">
  <tr>
    <th>번호</th>
    <th>이름</th>
    <th>위치</th>
    <th>삭제</th>
  </tr>

  <tbody>
  <tr th:each="dept : ${list}">
    <td th:text="${dept.deptNo}"></td>
    <td th:text="${dept.dName}"></td>
    <td th:text="${dept.loc}"></td>
    <td><a th:href="@{/delete(deptNo=${dept.deptNo})}">삭제</a></td>
  </tr>
  </tbody>

</table>

<hr>

<a th:href="@{addView}">추가</a>

</body>
</html>