<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>edit</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>부서 번호</th>
				<th>부서 이름</th>
				<th>부서 위치</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${dept.deptno}" />
				<td th:text="${dept.dname}" />
				<td th:text="${dept.loc}"></td>
			</tr>
		</tbody>
	</table>
	<form th:action="@{/delete}" method="post">
		<input name="deptno" type="hidden" th:value="${dept.deptno}" /> 
		<input type="submit" value="삭제">
	</form>
</body>
</html>