<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
  <form method="post" th:action="@{/loginAction}">
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>PW</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="로그인"></td>
      </tr>
    </table>
  </form>

</body>
</html>