<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/aphome/layout3}">

<head>
    <title>signIn</title>
    <!-- css js -->
</head>

<div layout:fragment="content">
    <div style="background-color: yellowgreen">

        <form method="post" th:action="@{/signInAction}">
            <table>
                <tr>
                    <td>email</td>
                    <td>
                        <!-- springboot security 에서는 반드시 username 으로 값을 던져줘야 함 -->
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="로그인"></td>
                </tr>
            </table>
        </form>



    </div>
</div>
</html>