<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sample/layout1}"
      >

<head>
    <title>sample</title>
    <!-- css js -->
</head>

<div layout:fragment="content">
    <div style="background-color: yellowgreen">

        <div sec:authorize="!isAuthenticated()">
            권한없는 사람만
        </div>
        <div sec:authorize="isAuthenticated()">
            권한있는 누구나..
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            어드민만 보여짐
        </div>


    </div>
</div>


</html>