<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Base</title>
</head>
<body>
<h2>ITEM</h2>
<table border="1">
    <thead>
    <tr>
        <td><b>Id</b></td>
        <td><b>Name</b></td>
        <td><b>Description</b></td>
        <td><b>Price</b></td>
        <td colspan="2"><b>Action</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <form th:method="post" th:action="@{'/add/' + ${item.id}}">
                <input type="submit" value="Add to Cart">
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{'/delItem/' + ${item.id}}">
                <input type="submit" value="Delete to Item">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>

<h2>My Cart</h2>
<table border="1">
    <thead>
    <tr>
        <td><b>Id</b></td>
        <td><b>Name</b></td>
        <td><b>Description</b></td>
        <td><b>Quantity</b></td>
        <td colspan="2"><b>Action</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cart.cartItems}">
        <td th:text="${cartItem.item.id}"></td>
        <td th:text="${cartItem.item.name}"></td>
        <td th:text="${cartItem.item.description}"></td>
        <td th:text="${cartItem.quantity}"></td>
        <td>
            <form th:method="delete" th:action="@{'/delCartCount/' + ${cartItem.item.id}}">
                <input type="submit" value="Delete to Cart Count">
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{'/delCartAll/' + ${cartItem.item.id}}">
                <input type="submit" value="Delete to Cart">
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>